# 處理 outliers
* 新增欄位註記
* outliers 或 NA 填補
    1. 平均數 (mean)
    2. 中位數 (median, or Q50)
    3. 最大/最小值 (max/min, Q100, Q0)
    4. 分位數 (quantile)

# [作業目標]
- 仿造範例的資料操作, 試著進行指定的離群值處理

# [作業重點]
- 計算 AMT_ANNUITY 的分位點 (q0 - q100) (Hint : np.percentile, In[3])
- 將 AMT_ANNUITY 的 NaN 用中位數取代 (Hint : q50, In[4])
- 將 AMT_ANNUITY 數值轉換到 -1 ~ 1 之間 (Hint : 參考範例, In[5])
- 將 AMT_GOOD_PRICE 的 NaN 用眾數取代 (In[6])

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [6]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: ./data/application_train.csv

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 1. 列出 AMT_ANNUITY 的 q0 - q100
## 2.1 將 AMT_ANNUITY 中的 NAs 暫時以中位數填補
## 2.2 將 AMT_ANNUITY 的數值標準化至 -1 ~ 1 間
## 3. 將 AMT_GOOD_PRICE 的 NAs 以眾數填補

In [31]:
"""
YOUR CODE HERE
"""
# 1: 計算 AMT_ANNUITY 的 q0 - q100
rang = range(101)   # 0-100 百分比(陣列)
q_all = np.percentile( a = app_train[ ~app_train['AMT_ANNUITY'].isnull() ]['AMT_ANNUITY'] , q = rang ) 
# 篩選掉 NA 並得到[0-100]百分比的資料數值
#print(q_all)


pd.DataFrame({'q': list(range(101)),
             'value': q_all})

       q      value
0      0    1615.50
1      1    6182.91
2      2    6750.00
3      3    7875.00
4      4    8703.00
..   ...        ...
96    96   55624.50
97    97   58482.00
98    98   62964.00
99    99   70006.50
100  100  258025.50

[101 rows x 2 columns]

In [37]:
# 2.1 將 NAs 以 q50 填補
print("Before replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull())) # 得到資料數值是 NAN 的資料數量總和



q_50 = np.median(app_train[~app_train['AMT_ANNUITY'].isnull()]['AMT_ANNUITY']) # 我利用中位數指令 (等於q50)，取得q50


app_train.loc[app_train['AMT_ANNUITY'].isnull(),'AMT_ANNUITY'] = q_50
########################  
'''
DF物件.loc[]
可以利用[條件]和[index標籤]取出資料
這裡先用條件篩選，再用index取得要的欄位

最後用 q50數值取代之
'''
########################

print("After replace NAs, numbers of row that AMT_ANNUITY is NAs: %i" % sum(app_train['AMT_ANNUITY'].isnull())) # 得到資料數值是 NAN 的資料數量總和

Before replace NAs, numbers of row that AMT_ANNUITY is NAs: 0
After replace NAs, numbers of row that AMT_ANNUITY is NAs: 0
[24700.5 35698.5  6750.  ... 29979.  20205.  49117.5]

### Hints: Normalize function (to -1 ~ 1)
$ y = 2*(\frac{x - min(x)}{max(x) - min(x)} - 0.5) $

In [38]:
# 2.2 Normalize values to -1 to 1
print("== Original data range ==")
print(app_train['AMT_ANNUITY'].describe())

def normalize_value(x):             # 定義標準化函數
    x = x.values
    x = 2*( (x-min(x))/(max(x)-min(x)) -0.5 )
    return x
    #####################
    '''
    利用上述給定標準化公式 : 
    其特點為 max=1，min=-1

    DF物件.values 
    可得到物件中純數值列表
    並直接利用料表做公式計算
    回傳列表 x 
    '''
    #####################

app_train['AMT_ANNUITY_NORMALIZED'] = normalize_value(app_train['AMT_ANNUITY'])

print("== Normalized data range ==")
app_train['AMT_ANNUITY_NORMALIZED'].describe()

== Original data range ==
count    307511.000000
mean      27108.487841
std       14493.461065
min        1615.500000
25%       16524.000000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
== Normalized data range ==

count    307511.000000
mean         -0.801154
std           0.113049
min          -1.000000
25%          -0.883714
50%          -0.818357
75%          -0.742752
max           1.000000
Name: AMT_ANNUITY_NORMALIZED, dtype: float64

In [50]:
# 3.將 AMT_GOOD_PRICE 的 NaN 用眾數取代

print("Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

# 列出重複最多的數值
from scipy.stats import mode # 工程計算模組 : mode 可尋找眾數(出現最多次數字 or 字元(串))
mode_get = mode(app_train[ ~app_train['AMT_GOODS_PRICE'].isnull() ]['AMT_GOODS_PRICE']) # 使用 mode
####################
'''
mode(a, axis)
可取得眾數
a = 要計算的陣列
axis = 0 計算的軸
'''
###################
value_most = mode_get[0][0]
print("眾數(最常出現的數) : ",value_most)



mode_goods_price = list(app_train['AMT_GOODS_PRICE'].value_counts().index)  
##################
'''
利用 value_counts()
會依照所有資料出現次數多寡作排列(由多到少) // 由少到多要在括號中用(ascending=True)
因為出來格式每列為 [資料本身(index)]  [出現次數]
所以要用 [.index] 取得資料本身
'''
##################
print("依照出現次數多寡排列數字 : " , mode_goods_price[0:5],"......")



app_train.loc[app_train['AMT_GOODS_PRICE'].isnull(), 'AMT_GOODS_PRICE'] = mode_goods_price[0]   # 用眾數取代 NA 空缺值
print("After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: %i" % sum(app_train['AMT_GOODS_PRICE'].isnull()))

Before replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0
眾數(最常出現的數) :  450000.0
依照出現次數多寡排列數字 :  [450000.0, 225000.0, 675000.0, 900000.0, 270000.0] ......
After replace NAs, numbers of row that AMT_GOODS_PRICE is NAs: 0