# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 

# 作業3
* 續上題，請問哪個欄位是"目標值"?

# ANS: 

## 1. 區塊C

## 2. 'Name'、'Sex'、'Ticket'、'Cabin'、'Embarked'

## 3. 'Survived' 欄位為預測目標值

In [14]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [15]:
# 程式區塊 B    # 資料前處理
train_Y = df_train['Survived']  # 拆出 train_Y 要預測值
ids = df_test['PassengerId']    # 拆出乘客 ID 以作為最後預測結果 dataframe 的第一欄
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)  # 去除以上兩欄
df_test = df_test.drop(['PassengerId'] , axis=1)                # 去除乘客ID欄位
df = pd.concat([df_train,df_test])                              # 合併 train 和 test 為一 df 來一起做特徵處理
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
# 程式區塊 C        # 此地方做[填補缺值]、[Label Enciding]將類別型欄位轉成數值、[數值標準化(最大最小化)]
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)                                     # 填補缺值
    if df[c].dtype == 'object':                                  # 判斷是否為類別型欄位
        df[c] = LEncoder.fit_transform(list(df[c].values))       # label encoding
        print(c)
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1)) # 最大最小化
df.head()

Name
Sex
Ticket
Cabin
Embarked

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.0,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.0,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.0,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.0,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.0,0.699353,0.017630,0.000000,1.000000

In [17]:
# 程式區塊 D       # 此地方把 train_X 和 test_X 的資料拆開，並做邏輯斯回歸模型、預測 test_X
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

In [18]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False) 
sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1